<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
</head>
<body>
    <h1>Наши контакты</h1>
    <p>Свяжитесь с нами любым удобным способом.</p>
    <!-- Список определений -->
    <dl>
        <dt><strong>Telegram:</strong></dt>
        <dd><a href=" http://t.me/trep_dmitry">@trep_dmitry</a></dd>

        <dt><strong>Телефон:</strong></dt>
        <dd>+7 (999)-876-54-32</dd>

        <dt><strong>Email:</strong></dt>
        <dd>support@flaskapp.ru</dd>
    </dl>
    <p><a href="/">На главную страницу</a></p>
</body>
</html>